{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2023",
    "baseUrl": "./"
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true,
    "importInterop": "node"
  },
  "sourceMaps": true
}
